<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <title>Contact Us Now</title>
    <script src="/public/js/axios.min.js" defer></script>
    <script src="/public/js/vue.js" defer></script>
    <script src="/public/js/contact.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="contact_data2">
        <ul>
          <li>
            <i class="fa-solid fa-location-dot"></i>
            <strong>Location:</strong>
            <p>Near 598-400 Washington St, Monte Vista, CO 81144</p>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <strong>Email:</strong>
            <p>alfac_tech@yahoo.com</p>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <strong>Text:</strong>
            <p>+1 502 519 2951</p>
          </li>
        </ul>
        <div class="map">
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.1749168593005!2d-106.15066622420281!3d37.57449862367168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8715de2d39971fd3%3A0x7551180104494a49!2s598%20Washington%20St%2C%20Monte%20Vista%2C%20CO%2081144%2C%20USA!5e0!3m2!1sen!2sbg!4v1702556309694!5m2!1sen!2sbg" 
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="contact_data">
        <h2>Contact Me</h2>
        <div id="app">
          <h5></h5>
          <label for="">Name</label>
          <input type="text" name="name" v-model="name"/>
          <label for="">Email</label>
          <input type="email" name="email" v-model="email"/>
          <label for="">Subject</label>
          <input type="text" name="subject" v-model="subject"/>
          <label for="">Message</label>
          <textarea name="message" id="" cols="30" rows="05" v-model="message"></textarea>
          <button v-on:click="sendContact()">Send Message</button>
        </div>
      </div>
    </div>
  </body>
</html>
