<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/job.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <script src="/public/js/axios.min.js" defer></script>
    <script src="/public/js/vue.js" defer></script>
    <script src="/public/js/main.js" defer></script>
    <title>Job Application Page</title>
  </head>
  <body>
    <div class="container">
      <div class="contact_data">
        <h2>Application Form</h2>
        <h5></h5>
        <div id="app">
          <label for="">Full Name</label>
          <input type="text" v-model="fullname"/>
          <label for="">Email</label>
          <input type="email" v-model="email"/>
          <label for="">Address</label>
          <input type="text"  v-model="address"/>
          <label for="">State</label>
          <input type="text"  v-model="state"/>
          <label for="">City</label>
          <input type="text"  v-model="city"/>
          <label for="">Zip Code</label>
          <input type="text"  v-model="zipcode"/>
          <label for="">Cell</label>
          <input type="text"  v-model="cell"/>
          <label for="">DOB</label>
          <input type="date"  v-model="dbo"/>
          <legend>Remote Jobs list</legend>
          <select class="form-control dropdown" v-model="occupation" id="occupation">
            <option value="" selected="selected" disabled="disabled">-- select one --</option>
            <optgroup label="Remote Job List:">
              <option value="Data Entry">-  Data Entry</option>
              <option value="Clerical Admin">-  Clerical Admin</option>
              <option value="Administrative clerk / Assistance">-  Administrative clerk / Assistance</option>
              <option value="Typist Clerk">-  Typist Clerk</option>
              <option value="IT Jobs">-  IT Jobs</option>
            </optgroup>
          </select>
          <!-- <label for="">Message</label>
          <textarea name="" id="" cols="30" rows="05"></textarea> -->
          <button v-on:click="sendApplication()">Send Application</button>
        </div>
      </div>
    </div>









      <!-- <select name="languages" id="lang">
        <option value="1">-  Data Entry</option>
            <option value="2">-  Clerical Admin</option>
            <option value="3">-  Administrative clerk / Assistance</option>
            <option value="4">-  Typist Clerk</option>
            <option value="5">-  IT Jobs</option>
      </select> -->

  </body>
</html>
